//
// Copyright 2022 Adobe
// All Rights Reserved.
// NOTICE: Adobe permits you to use, modify, and distribute this file in
// accordance with the terms of the Adobe license agreement accompanying
// it.
//
//  Config.xcconfig
//  WKNDAdventures
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// The http/https protocol scheme used to access the AEM_HOST
AEM_SCHEME = https

// Cache-busting for demos ONLY. When true, a timestamp is appended to each GraphQL
// persisted-query request so content-fragment updates appear immediately (bypasses the
// CDN cache). Set to false for normal use to avoid extra origin load. Never enable in production.
DISABLE_CACHE = true

// Target hostname for AEM environment, do not include http:// or https://
AEM_HOST = publish-p220753-e2271497.adobeaemcloud.com

// If connecting to an AEM Publish environment, no need to set an AUTH_METHOD
// Support for Basic Authentication - Set AUTH_METHOD to basic and set BASIC_AUTH_CREDENTIALS
// AEM_AUTH_TYPE = basic
// AEM_USERNAME = admin
// AEM_PASSWORD = admin

// Support for Token Authentication - set AUTH_METHOD to token
// AEM_AUTH_TYPE = token
// AEM_TOKEN = <token here>
